<form #subForm="ngForm">
  <div class="flex flex-col">
    <div class="self-center w-full max-w-screen-sm mt-5 grid grid-cols-1 pb-4">
      <label for="subEmail">Email</label>
      <input
        class="border border-blue-600 rounded p-1"
        id="subEmail"
        name="subEmail"
        email
        required
        ngModel
        #subEmail="ngModel"
      />
      <span class="text-red-600" *ngIf="subEmail.touched && subEmail.invalid"
        >Please enter a valid Email</span
      >
      <label for="subLevel">Choose a subscription</label>
      <select
        class="border border-blue-600 rounded p-1"
        id="subLevel"
        name="subLevel"
        ngModel="advanced"
        #subLevel="ngModel"
      >
        <option value="basic">Basic</option>
        <option value="advanced" default>Advanced</option>
        <option value="pro">Pro</option>
      </select>
      <span class="text-red-600" *ngIf="subLevel.touched && subLevel.invalid"
        >Please choose a Subscription Level</span
      >
      <label for="subPassword">Password</label>
      <div class="grid grid-flow-col grid-cols-5">
        <input
          class="border border-blue-600 rounded-l col-span-4 p-1"
          id="subPassword"
          name="subPassword"
          [type]="showPassword ? 'text' : 'password'"
          required
          ngModel
          #subPassword="ngModel"
        />
        <button
          class="text-blue-700 border-2 border-blue-700 rounded-r col-span-1"
          type="button"
          (mouseenter)="onShowPassword()"
          (mouseleave)="onHidePassword()"
        >
          Show Password
        </button>
      </div>
      <span
        *ngIf="subPassword.touched && subPassword.invalid"
        class="text-red-600"
        >Please enter a valid Password</span
      >
      <span *ngIf="subForm.touched && subForm.invalid" class="text-orange-500"
        >Please enter your data</span
      >
      <button
        class="mt-2 bg-blue-700 text-white rounded w-1/3 mx-auto disabled:bg-gray-500"
        type="submit"
        (click)="onSubmit()"
        [disabled]="subForm.invalid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
