<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col">
    <div class="self-center w-full max-w-screen-sm mt-5 grid grid-cols-1 pb-4">
      <div formGroupName="credentials" class="grid grid-cols-2 gap-2 mb-2">
        <div>
          <label for="username">Username*</label>
          <input
            formControlName="username"
            id="username"
            type="text"
            class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
          />
          <div
            *ngIf="
              !reactiveForm.get('credentials.username')!.valid &&
              reactiveForm.get('credentials.username')!.touched
            "
            class="text-red-500 p-1"
          >
            <span
              *ngIf="
                reactiveForm.get('credentials.username')?.hasError('required')
              "
              class="text-red-500 p-1"
              >Please enter a valid username</span
            >
            <span
              *ngIf="
                reactiveForm
                  .get('credentials.username')
                  ?.hasError('nameIsForbidden')
              "
              class="text-red-500 p-1"
              >This name is forbidden</span
            >
          </div>
        </div>
        <div>
          <label for="email">Email*</label>
          <input
            formControlName="email"
            id="email"
            type="email"
            class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
          />
          <span
            *ngIf="
              !reactiveForm.get('credentials.email')!.valid &&
              reactiveForm.get('credentials.email')!.touched
            "
            class="text-red-500 p-1"
            >Please enter a valid email adress</span
          >
        </div>
      </div>

      <label for="country">Country*</label>
      <input
        formControlName="country"
        id="country"
        type="text"
        class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
      />
      <span
        *ngIf="
          !reactiveForm.get('country')!.valid &&
          reactiveForm.get('country')!.touched
        "
        class="text-red-500 p-1"
        >Please enter your country</span
      >
      <div class="my-4 flex flex-col border border-black rounded py-4 px-2">
        <div formArrayName="animals">
          <div class="grid grid-cols-2 gap-2">
            <h2 class="text-center">Favorite animals</h2>
            <button
              type="button"
              class="middle none center rounded-lg border-2 border- border-pink-500 py-1 px-1 font-sans text-s font-bold text-pink-500 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              (click)="onAddAnimal()"
            >
              Add Animal
            </button>
          </div>
          <div *ngFor="let animalControl of controls; let i = index">
            <input
              [formControlName]="i"
              type="text"
              class="block w-full rounded-md border-0 mt-1 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
            />
          </div>
        </div>
      </div>

      <label for="color">Color</label>
      <select
        formControlName="color"
        name="color"
        id="color"
        class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
      >
        <option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </option>
      </select>
      <label for="mamsl">Metres above main sea level</label>
      <input
        formControlName="mamsl"
        id="mamsl"
        type="number"
        class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
      />
      <span
        *ngIf="!reactiveForm.valid"
        class="text-red-500 p-1 mt-2 text-center"
        >Please fill out all required fields</span
      >
      <button
        class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-s font-bold text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        [disabled]="!reactiveForm.valid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
