<div class="w-56 mx-auto">
  <form
    [formGroup]="projectForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col mt-5"
  >
    <label for="projectName">Project Name*</label>
    <input
      class="border-2 border-gray-600 p-1 rounded"
      formControlName="projectName"
      id="projectName"
      type="text"
    />
    <div *ngIf="projectForm.get('projectName')!.touched">
      <span
        *ngIf="projectForm.get('projectName')!.hasError('required')"
        class="text-yellow-500"
        >Please enter a Project Name</span
      >
      <span
        *ngIf="projectForm.get('projectName')!.hasError('projectNameForbidden')"
        class="text-yellow-500"
        >Project Name cannot be 'Test'</span
      >
    </div>

    <label for="email">Email*</label>
    <input
      class="border-2 border-gray-600 p-1 rounded"
      formControlName="email"
      id="email"
      type="email"
    />
    <div *ngIf="projectForm.get('email')!.touched">
      <span
        *ngIf="
          projectForm.get('email')!.hasError('required') ||
          projectForm.get('email')!.hasError('email')
        "
        class="text-yellow-500"
        >Please enter a valid Email</span
      >
      <span
        *ngIf="projectForm.get('email')!.hasError('emailIsForbidden')"
        class="text-yellow-500"
        >Email cannot be 'test@test.com'</span
      >
    </div>

    <div class="flex flex-col">
      <label for="projectStatus">Project Status</label>
      <select
        formControlName="projectStatus"
        class="border-2 border-gray-600 p-1 rounded"
        name="projectStatus"
        id="projectStatus"
      >
        <option value="default">Select Status</option>
        <option value="stable">Stable</option>
        <option value="critical">Critical</option>
        <option value="finished">Finished</option>
      </select>
    </div>
    <button
      [disabled]="!projectForm.valid"
      class="bg-indigo-500 text-white my-4 py-2 rounded"
    >
      Submit
    </button>
  </form>
</div>
