<header class="p-3 flex justify-between items-center border-b-2 border-black">
  <div>
    <a routerLink="/"
      ><h1 class="text-2xl font-bold leading-5 text-gray-900">
        Handling Forms
      </h1></a
    >

    <p class="mt-1 text-sm text-gray-600">Part of the Angular Course</p>
  </div>
  <nav class="flex gap-2">
    <a
      routerLink="template-driven-form"
      class="text-indigo-700 font-bold border border-indigo-700 py-1 px-2 rounded"
      >Template Driven Form</a
    >
    <a
      routerLink="template-driven-form-assignment"
      class="text-indigo-700 font-bold border border-indigo-700 py-1 px-2 rounded"
      >TD-Form Assignment</a
    >
    <a
      routerLink="reactive-form"
      class="text-indigo-700 font-bold border border-indigo-700 py-1 px-2 rounded"
      >Reactive Form</a
    >
    <a
      routerLink="reactive-form-assignment"
      class="text-indigo-700 font-bold border border-indigo-700 py-1 px-2 rounded"
      >Reactive Form Assignment</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
