<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="flex flex-col">
    <div class="self-center w-full max-w-screen-sm mt-5 grid grid-cols-1 pb-4">
      <div ngModelGroup="credentials">
        <label
          for="username"
          class="block text-sm font-medium leading-6 text-gray-900 mb-2"
          >Username</label
        >
        <div class="flex">
          <input
            ngModel
            #username="ngModel"
            id="username"
            name="username"
            required
            type="text"
            class="block w-full rounded-l-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
          />
          <button
            type="button"
            (click)="suggestUserName()"
            class="rounded-r-md border border-pink-500 text-pink-500 font-sans text-xs font-bold transition-all hover:opacity-75 focus:ring focus:ring-pink-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          >
            Suggest Username
          </button>
        </div>

        <span
          *ngIf="!username.valid && username.touched"
          class="text-red-500 text-sm"
          >Please enter a Username</span
        >

        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900 mt-3 mb-2"
          >Email address</label
        >
        <input
          ngModel
          #email="ngModel"
          id="email"
          name="email"
          required
          email
          class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
        />
        <span *ngIf="!email.valid && email.touched" class="text-red-500 text-sm"
          >Please enter a valid Email</span
        >
      </div>
      <div>
        <label
          for="secret"
          class="block text-sm font-medium leading-6 text-gray-900 mb-2"
          >Secret Questions</label
        >
        <select
          [ngModel]="'pet'"
          #secret="ngModel"
          id="secret"
          name="secret"
          required
          class="block w-full rounded-md border-0 px-3 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:border-2 focus:border-pink-500 focus:outline-0 sm:text-sm"
        >
          <option value="pet">Your First Pet?</option>
          <option value="car">Your First Car?</option>
          <option value="mother">Your Mothers Name?</option>
        </select>
        <span
          *ngIf="!secret.valid && secret.touched"
          class="text-red-500 text-sm"
          >Please choose a question</span
        >
        <div class="relative w-full">
          <label
            for="secretAnswer"
            class="block text-sm font-medium leading-6 text-gray-900 mt-3 mb-2"
          >
            Secret Question Answer
          </label>
          <textarea
            [(ngModel)]="answer"
            #secretAnswer="ngModel"
            id="secretAnswer"
            name="secretAnswer"
            required
            class="peer h-full min-h-[100px] w-full resize-none rounded-md ring-1 ring-inset ring-gray-300 px-3 py-2.5 font-sans text-sm font-normal text-gray-900 outline outline-0 transition-all focus:border-2 focus:border-pink-500 focus:outline-0 disabled:resize-none disabled:border-0 disabled:bg-blue-gray-50"
            placeholder=" "
          ></textarea>
          <span
            *ngIf="!secretAnswer.valid && secretAnswer.touched"
            class="text-red-500 text-sm"
            >Please enter an answer to your Secret Question</span
          >
          <span *ngIf="secretAnswer.dirty">Your answer: {{ answer }}</span>
        </div>
      </div>
      <div class="block text-sm font-medium leading-6 text-gray-900 mt-3 mb-1">
        Currency
      </div>
      <div class="flex flex-row gap-5 mb-3 ms-2">
        <div *ngFor="let currency of currencies; let i = index">
          <input
            ngModel
            type="radio"
            name="currency"
            id="{{ currency }}"
            class="me-1"
            required
            [value]="currency"
          />
          <label for="{{ currency }}">{{ currency }}</label>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!f.valid"
        class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-s font-bold text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Submit
      </button>
    </div>
  </div>
</form>
<section
  *ngIf="submitted"
  class="self-center w-full max-w-screen-sm pt-3 border-t-2 border-pink-600"
>
  <h3 class="text-xl font-semibold">Userdata</h3>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Currency: {{ user.currency }}</p>
</section>
